<p id="notice"><%= notice %></p>

<h1>Bienvenido a Twitter</h1>
<p>Estos son los twitter tuyos y de tus amigos</p>
<% if user_signed_in? %>
    <p align="right">Bienvenido <%= current_user.user_name %></p>
<% end %>
<nav class="navbar navbar-light bg-light justify-content-between">
 <a class="navbar-brand">Busque por contenido</a>
 <form class="form-inline">
 <input class="form-control mr-sm-2" type="content" placeholder="Search" aria-label="Search" name="content">
 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
 </form>
</nav>

<%= button_to 'Nuevo Tweet', new_tweet_path, method: 'get' %>

<%= will_paginate @tweets, previous_label: h("<"), next_label: h(">") %>
<table class="table table-striped">
  <thead>
    <tr >
    
      <th scope="col">#</th>
      <th scope="col">Post</th>
      <th scope="col" align="center">User</th>
      <th scope="col" >Creado</th>
      <th scope="col" align="center">#Likes</th>
      <th scope="col" align="center">#Retweets</th>
      <th scope="col" colspan="3" align="center">Acciones</th>
    
    </tr>
  </thead>

  <tbody>
    <% a = 1 %>
    <% @tweets.each do |tweet| %>
      <tr>
      
        <th scope="row"><%= a + (5*(@tweets.current_page-1)) %> </th>
        
        <td><% tweet.post.to_s.split(' ').each do |word| %>
          <% if word.start_with?('#') %>
            <%= link_to word, tweets_path(word) %>
          <% else %>
            <%=word %>
          <% end %>    
        <% end %>  </td>
         
        
        
        <td align="center"><%= image_tag(tweet.user.user_photo, style: "max-width: 50px; border-radius: 20px;") %></td>
        <td align="center"><%= time_ago_in_words(tweet.user.created_at) %></td>
        <td align="center"><%= tweet.likes.count%></td>
        <td align="center">2</td>
        <td align="center"><%= link_to 'Show', tweet %></td>
        <td align="center"><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td align="center"><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% a = a + 1 %>
    <% end %>
  </tbody>
</table>


<br>



